.gallery-intro {
  padding: 20px;
  background-color: #ec8864;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery-cards {
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery-card {
  background-color: #ec8864;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
  height: fit-content;
}

.gallery-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
